<template>
	<v-app>

		<v-layout>

			<v-flex>
				<v-data-table
					:headers="headers"
					:items="posts"
					hide-actions
					class="elevation-1"
				>
					<template slot="items" slot-scope="props">
						<td>{{ props.item.title }}</td>
						<td class="text-xs-right">{{ props.item.body }}</td>
						<td class="text-xs-right">{{ props.item.created }}</td>
						<td>
							<v-flex>
								<v-btn color="info">
									<v-icon>edit</v-icon>
								</v-btn>
								<v-btn color="error" @click="deleteData(props.item.id)">
									<v-icon>delete</v-icon>
								</v-btn>
							</v-flex>
						</td>
						</template>
				</v-data-table>		
			</v-flex>
			
		</v-layout>

		<v-btn
			fab
			bottom
			right
			color="info"
			dark
			fixed
			@click.stop="DialogAddPost = !DialogAddPost"
		>
			<v-icon>add</v-icon>
		</v-btn>

		<v-dialog v-model="DialogAddPost" width="800px">
			<v-card>
				<v-form @submit.prevent="formSubmit">
					<v-card-title
					  	class="grey lighten-4 py-4 title"
					>
					  	Create Post
					</v-card-title>

					<v-container grid-list-sm class="pa-4">

				  		
				  			<v-layout row wrap>
						  		<v-flex xs12 align-center justify-space-between>
						      		<v-layout align-center>
								        <v-text-field
								        	v-model="title"
								        	:error-messages="errors.collect('title')"
										    v-validate="'required|max:100'"
										    data-vv-name="title"
								          	placeholder="Title"
								          	required
								        ></v-text-field>
						      		</v-layout>
						    	</v-flex>

						    	<v-flex xs12 align-center justify-space-between>
						      		<v-layout align-center>
								        <v-text-field 
								        	v-model="body"
								        	multi-line
								        	:error-messages="errors.collect('body')"
										    v-validate="'required|max:5000'"
										    data-vv-name="body"
								          	placeholder="Body"
								          	required
								        ></v-text-field>
						      		</v-layout>
						    	</v-flex>	
					    	</v-layout>
				  		

					</v-container>
					<v-card-actions>
					  <v-btn flat color="primary">More</v-btn>
					  <v-spacer></v-spacer>
					  <v-btn flat color="primary" @click="closeModal">Cancel</v-btn>
					  <v-btn flat type="submit">Save</v-btn>
					</v-card-actions>

				</v-form>

			</v-card>
		</v-dialog>

		<v-snackbar
			v-model="snackbar"
		>
		{{ status.message }}
		<v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
		</v-snackbar>
		
	</v-app>
</template>

<script type="text/javascript">
	import Axios from 'axios'

	export default{
		$_veeValidate: {
	      	validator: 'new'
	    },
		mounted() {
			this.initialize()
			this.$validator.localize('en', this.dictionary)
		},
		data() {
			return {
				headers: [
					{text: 'Title', value: 'title', align: 'center'},
					{text: 'Body', value: 'body', align: 'center'},
					{text: 'Date', value: 'created', align: 'center'},
					{text: 'Action', sortable: false, align: 'center'},
				],
				DialogAddPost: false,
				posts: [],
				id: '',
				title: '',
				body: '',
				dictionary: {
					attributes: {
			          	title: 'Post Title',
			          	body: 'title'
			          	// custom attributes
			        },
			        custom: {
			          	title: {
				            required: () => 'Title can not be empty',
				            max: 'The title field may not be greater than 10 characters'
				            // custom messages
			          	},
			          	body: {
			             	required: () => 'Body can not be empty',
			             	max: 'The body field may not be greater than 100 characters'
			          	}
			        }
			    },
				snackbar: false,
				dataSubmitted: {
					title: '',
					body: ''
				},
				status: {
					message: ''
				}
			}
		},
		methods: {
			initialize: function(){
				Axios.get('/posts').then(({data}) => {this.posts = data})

				this.title = ''
				this.body = ''
			},

			formSubmit: function(){

				this.$validator.validateAll().then(
					() => {
						
					}
				).catch(() => { console.log("asdasdasd") })


				Axios.post('/posts/add', 
					{
						title: this.dataSubmitted.title,
						body: this.dataSubmitted.body
					}
				).then( response => {
	           		this.status.active = true;
	           		this.status.message = response.data.message
	           		this.loading = false

	           		this.initialize()
	           		this.snackbar = true

	           	}, response => {
	           		this.status.active = true;
	           		this.status.message = response.response.data.message;
	           		this.loading = false
			    });	

				// if (this.$validator.validateAll()) { console.log("error") } else { console.log("true") }

			},

			closeModal: function(){

				this.DialogAddPost = false
				this.title = ''
				this.body = ''

			},

			deleteData: function(id){
				if (confirm('Are you sure you want to delete it!')) {
					Axios.delete('/posts/delete/' + id).then( response => {
		           		this.status.active = true;
		           		this.status.message = response.data.message;
		           		this.loading = false
		           		this.initialize()
		           }, response => {
		           		this.status.active = true;
		           		this.status.message = response.response.data.message;
		           		this.loading = false
		           });
				}
				
			}
		}
	}
</script>